Source: ros-hydro-message-runtime
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/message_runtime
Standards-Version: 3.9.2

Package: ros-hydro-message-runtime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cpp-common, ros-hydro-genpy, ros-hydro-roscpp-serialization, ros-hydro-roscpp-traits, ros-hydro-rostime
Description: Package modeling the run-time dependencies for language bindings of messages.
